<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="header">
		<a href="#default" class="logo">Nice</a>
		<div class="header-right">
		  <a class="active" href="">Home</a>
		  <a  routerLink="/footer"  href="/footer" >Contact</a>
		  <a routerLink="/about"  href="/about">About</a>
		  <a routerLink="/service" href="/service">Service</a>
		</div>
	  </div>
	  <!---header start-->
	  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('assets/images/bmw3.jpg');
      background-size: cover;
      height: 600px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height: 200px;">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Dream VieW</h1>
          <h4 class="mb-3">CoMPLETE youR drEams with US </h4>
          <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="#!" role="button"
          >Go to home</a
          >
        </div>
      </div>
    </div>
  </div>
</body>
</html>